.submit-button {
  position: relative;
  right: 1em;
}

.login-box {
  display: flex;
  height: 50em;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  background: #ffffff;
  padding: 24px;
  min-height: 280px;
}
