.content {
  text-align: center;
  background: #ffffff;
  padding: 24px;
  min-height: 280px;
}

.add-damage-button {
  position: relative;
  right: 32vw;
}

.cancel-button {
  position: relative;
  right: 32vw;
}

.add-damage-form {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 30%;
}

.upload-item {
  position: relative;
  width: 30em;
  left: 35%;
  bottom: 30%;
}

.add-damage-box {
  display: flex;
  flex-direction: column;
  height: 50em;
  justify-content: center;
  align-items: center;
}

.list-div {
  width: 80%;
  position: relative;
  left: 15%;
}

.photos-list-div {
  position: relative;
  width: 50%;
  left: 20%;
}
