.content {
  background-color: #ffffff;
}

.title-text {
  position: relative;
  bottom: 3em;
}

.registration-form {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 30%;
}

.cards-div {
  display: flex;
  flex-direction: column;
  height: 50em;
  justify-content: center;
  align-items: center;
}

.registration-box {
  display: flex;
  flex-direction: column;
  height: 50em;
  justify-content: center;
  align-items: center;
}

.photos-list-div {
  position: relative;
  left: 30%;
  top: 20%;
}
